.Wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

input {
    padding: 5px;
    align-self: center;
    margin: 0 10px;
}

button {
    padding: 10px 15px;
    font-weight: bold;
    margin: 5px 10px;
}